.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#background{
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  will-change: opacity;
  user-select: none;
}
