:root {
  font-family: var(--font1), Helvetica, Arial, sans-serif;
  background-color: var(--BGcolour);
}

html, body {
  overflow: hidden;
  margin: 0;
}

.highlight{
  color: var(--colour2);
}

h1{ /*  *ALL  */
  color: var(--colour1);
  text-align: center;
}

